body {
    background-image: linear-gradient(to right, rgb(217, 211, 211), #ffffff);
  }
  
  header {
    background-image: linear-gradient(to right, rgb(217, 211, 211), #ffffff);
  }
  
  footer {
    background-image: linear-gradient(to right, rgb(217, 211, 211), #ffffff);
  }
  